Vista para mostrar todos los Pokémon disponibles en la tienda.

<div class="container my-5">
    <form action="/pokemon/all/:pokemon" method="GET">
        <div class="mb-3">
            <label for="pokemon" class="form-label">Pokémon</label>
            <input id="pokemon" type="text" class="form-control" name="search" />
        </div>
        <button type="submit" class="btn btn-primary">Buscar pokémon</button>
    </form>
</div>

<div class="allPokemons">
    {{#each pokemons.results}}
    <div class="listPoke">
        <h4>{{this.name}}</h4>
        <a href="/pokemon/all/:pokemon?search={{this.name}}">ver mas</a>
    </div>
    {{/each}}
</div>