Vista para el formulario de registro de un nuevo Pokémon para el entrenador.

<h1>Crear Nuevo Pokémon</h1>
<form id="pokemonForm" action="/pokemon/create" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name">
    <br>

    <label for="abilities">Habilidades (separadas por comas):</label>
    <input type="text" id="abilities" name="abilities">
    <br>

    <label for="types">Tipos (separados por comas):</label>
    <input type="text" id="types" name="types">
    <br>

    <label for="imagen">URL de la imagen:</label>
    <input type="text" id="imagen" name="imagen" value="/images/pokebola-png.png">
    <br>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" value="10">
    <br>

    <button type="submit">Crear Pokémon</button>
</form>