<div class="body">
    <div class="title">
        <h1>Poke Store</h1>
        <p>¡Bienvenido a nuestra tienda Pokémon!</p>
    </div>
    <img src="/images/NicePng_pokemon-png-images_622961.png" id="indexPokemons" class="img-fluid" alt="pokemons">


</div>