Vista para mostrar el perfil del usuario actual.

<div class="profile-container">
    <h1>Perfil de Usuario</h1>

    <img src="/images/perfil.png" alt="image de perfil" id="profileImg">
    <p><strong>Name:</strong> <span id="nombre">Ash Ketchum</span></p>
    <p><strong>User:</strong> <span id="User">@Ketchum</span></p>
    <p><strong>E-mail:</strong> <span id="email">pikachu@ejemplo.com</span></p>
    <p><strong>Team:</strong> <span id="team">Azul</span></p>
    <p><strong>Cash:</strong> <span id="Cash">$ 1.000</span></p>

    <a href="/user/edit" class="btn btn-primary"> Editar Perfil</a>
</div>